{% extends 'paginas_base/base.html' %}

{% block titulo %}Página de Inicio {% endblock titulo %}
{% block contenido %}
    <div class="p-5 mb-4 bg-light rounded-3 text-secondary ">
        <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenido las Sistema de jugadores</h1>
        <p class="col-md-8 fs-4">Esto es un Crud4 del la sección de jugadores</p>
        <h4 style="color: black;">Suma Total: ${{ suma_total }}</h4>
        <a class="btn btn-primary btn-lg" href="{% url 'lista' %}" role="button" type="button">Listado de jugadores</a>
        </div>
    </div>

{% endblock contenido %}