{% extends 'paginas_base/base.html' %}

{% block titulo %}Página Editar Profesor{% endblock titulo %}
{% block contenido %}
    <div class="card">
        <div class="card-header">
            Editar Profesor
        </div>
        <div class="card-body">
            <h4 class="card-title"> Editando Profesor</h4>
            {% include  'Crud/form.html' %}
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
    
   
   

{% endblock contenido %}