{% extends 'paginas_base/base.html' %}
{% load crispy_forms_tags %}
{% block titulo %}Página Nueva Contratación{% endblock titulo %}
{% block contenido %}
    <div class="bg-success-subtle p-2 text-white">
        <div class="card-header"> Crear Nuevo Contratación
        </div>
        <div class="card-body">
            <h4 class="card-title">Contratación</h4>
            <form action="" method="post"  enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}
                    
                
                {{formulario.fecha|as_crispy_field}}
                {{formulario.idServicio|as_crispy_field}}
                {{formulario.nomContratante|as_crispy_field}}
                          
                <br>
                           
            <br>
            <input name="btn-guardar" id="btn_guardar" class="btn btn-success border border-dark" type="submit" value="Guardar">
            <a name="btnCancelar" id="btnCancelar" class="btn btn-primary border-dark" href="{% url 'listaContratacion' %}" role="button">Cancelar</a>

            </form>           
            
            
        </div>
        <div class="card-footer text-muted">
            
        </div>
    </div>
    
   
   

{% endblock contenido %}