{% extends 'paginas_base/base.html' %}

{% block titulo %}Página Lista de Contrataciones {% endblock titulo %}
{% block contenido %}
    <div class="card">
        <div class="card-header">
            <a name="btnuevo" id="btnuevo" class="btn btn-primary" href="{% url 'crear_editarContratacion' idContratacion=0  %}" role="button">Nueva Contratacion</a>
        </div>
        <div class="card-body">
            <h4 class="card-title">Contratacioness</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nro de Contratación</th>
                        <th>Fecha</th>
                        <th>Código de Servicio</th>
                        <th>Nombre Contratante</th>
                      
                        
                    </tr>
                </thead>
                <tbody>
                    {% for s in contratacion %}
                    <tr>  
                                         
                        <td>{{ s.fecha}}</td>
                        <td>{{ s.idServicio}}</td>
                        <td>{{ s.nomContratante}}</td>
                                          
                      
                        <td>
                            <a name="bteditar" id="bteditar" class="btn btn-info" href="{% url 'crear_editarContratacion' s.idContratacion  %}" role="button">Editar</a>
                            <a name="bteliminar" id="bteliminar" class="btn btn-danger" href="{% url 'eliminarContratacion' s.idContratacion  %}" role="button">Eliminar</a>
                        </td>                        
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            
            
        </div>
        <div class="card-footer text-muted">
        
        </div>
    </div>
   
   

{% endblock contenido %}
